body {
	/*GARDER LE MARGIN A 0 POUR EVITER CELUI PAR DEFAUT*/
	margin: 0px;
	background-color: #ffe19c;
	background-image:url(../img/background.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.test {
	width: 90%;
	background-color: #ffffff;
	color: black;
	border-style: solid;
	border-width: 8px;
	border-color: #ffffff;
	border-radius: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.heading {
	margin-top: 40px;
	margin-bottom: 80px;
	font-size: 25px;
}

img.Acircle {
	height: 70px;
	width: 70px;
	border-radius: 90px;
	margin-left: 2%;
	vertical-align: middle;
}

img.h1circle {
	width: 100%;
	height: auto;	
	border-radius: 250px;
	vertical-align: text-top;
	border-width: 10px;
	border-style: solid;
	border-color: #dddddd;
}


.banner {
	display: flex;
	flex-direction: row;
}

.banner .pic {
	flex-basis: 27%;
	padding-right: 50px;
}

.banner .text-content {
	font-size: 20px;
	flex-basis: 70%;
}